.card-vertical {
  display: flex;
  flex-direction: column;
  background-color: var(--color-superficie);
  padding: 16px;
  border: 4px solid var(--color-secundario); /* Borde estilo marco de cuadro */
  border-radius: 0;
  box-shadow: 8px 8px 0px var(--color-primario); /* Sombra sólida retro */
}

.card-vertical .button {
  margin-top: 8px;
  display: block;
}

.card-vertical h3 {
  font-size: 1.8rem;
  margin: 12px 0 4px;
}