.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background-color: var(--color-primario);
}

.nav {
  display: flex;
  gap: 16px;
}

.nav a {
  text-decoration: none;
  color: var(--color-fondo);
  font-family: var(--fuente-cuerpo);
  transition: 0.3s;
  font-size: 1.2rem;
}

.nav a:hover {
  color: var(--color-secundario);
}